@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --cor-primaria: #415A77;
    --cor-secundaria: #31445A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.fundo {
    background-color:#0D1B2A;
}

.container {
    background-color: #415A77;
    border-radius: 6px;
}

